@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

:root {
    --primary-color: #098066;
    --bg-color: #141118;
    --gray: #e6e6e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: var(--bg-color);
    font-family: 'Lexend', sans-serif;
}

.container {
    margin: 1rem;
    padding: 1rem;
    color: var(--gray);
}

.header {
    text-align: center;
}

.header h1 {
    margin: 10px;
    color: #fff;
}

.input-tarefa {
    background: transparent;
    margin: 5px;
    outline: none;
    color: #fff;
    border: none;
    border-bottom: thin solid rgb(200, 219, 233);
    transform: scale(.9);
    
    transition: .5s;
}

.input-tarefa:focus {
    background: transparent;
    margin: 5px;
    border: none;
    border-bottom: thin solid var(--primary-color);
    transform: scale(1);
}

.tarefas li {
    padding: 5px;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 25px 20px 5px 20px;
    list-style: circle;
}

button {
    color: #fff;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 6px;
    transform: scale(1);
    transition: .3s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}